#login {
	position: absolute;
	z-index: 101;
	width: 360px;
	height: 510px;
	/*border: 1px solid #ddd;*/
	background-color: white;
}

#login_span {
	position: absolute;
	left: 105px;
	color: #666;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: 400px;
}

h3 {
	color: #666;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: 100;
	text-align: center;
}

.login_2 {
	width: 261px;
	height: 260px;
	margin: 0px auto;
}

.login_2 p {
	color: #666;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 0px;
}

.login_2 p input.txt {
	height: 38px;
	width: 258px;
	border: 1px solid #ddd;
}

.but {
	height: 40px;
	width: 261px;
	color: #fff;
	font-size: 18px;
	font-family: "微软雅黑";
	border: none;
	background-color: black;
}

.login_3 {
	margin-top: 40px;
	width: 100%;
	height: 30px;
}

.login_3 li {
	display: inline;
}

.login_3 li a {
	margin-left: 50px;
	color: #666;
	font-family: "微软雅黑";
	text-decoration: none;
}

.login_4 {
	padding-left: 30px;
	width: 360px;
	height: 140px;
}

.login_4 p {
	line-height: 40px;
	color: #666;
	font-family: "微软雅黑";
}

.login_4 img {
	position: relative;
	top: 20px;
	width: 50px;
	height: 50px;
}

#txt_1info {
	position: absolute;
	top: 120px;
	left: 250px;
	color: red;
}

#txt_2info {
	position: absolute;
	top: 190px;
	left: 250px;
	color: red;
}

#code_info {
	position: absolute;
	top: 228px;
	left: 107px;
	color: red;
}


/*遮罩层*/

#Layer {
	/*display: none;*/
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/nsu1.jpg'); 
	background-size:cover;
	background-repeat:no-repeat;
}